@keyframes eye {
  0% {
    transform: rotate(0, 0);
  }
  50% {
    transform: translate(70px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes up-down {
  0% {
    transform: rotate(0, 0);
  }
  50% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, 0);
  }
}
body {
  background: #96004a;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
.minion-1 {
  z-index: 1;
  top: -70px;
  left: 50px;
  width: 380px;
  height: 700px;
  position: absolute;
  margin-top: -100px;
  margin-left: -20px;
  transform: scale(0.5, 0.5);
  transform: scale(0.4);
}
.minion-1 .hairs {
  position: absolute;
  top: -40px;
  z-index: 3;
  width: 100%;
}
.minion-1 .hairs .hair {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
}
.minion-1 .hairs .hair1 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 45%;
  transform: rotate(-20deg);
}
.minion-1 .hairs .hair2 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 50%;
}
.minion-1 .hairs .hair3 {
  background: #000;
  width: 2px;
  height: 70px;
  position: absolute;
  left: 55%;
  transform: rotate(20deg);
}
.minion-1 .body {
  overflow: hidden;
  background: #fff500;
  width: 380px;
  position: absolute;
  z-index: 1;
  height: 700px;
  border-radius: 180px;
}
.minion-1 .glasses-type {
  height: 52px;
  background: #1f1a17;
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 1;
}
.minion-1 .glasses {
  z-index: 2;
  position: absolute;
  background: #dededd;
  border: 2px solid #1f1a17;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 140px;
}
.minion-1 .glasses.left-glasses {
  left: 8%;
}
.minion-1 .glasses.left-glasses .ball {
  animation: eye 1.5s infinite ease;
}
.minion-1 .glasses.right-glasses {
  right: 8%;
}
.minion-1 .glasses.right-glasses .ball {
  animation: eye 1.5s infinite ease;
}
.minion-1 .glasses .eye {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  margin: 15px auto;
  position: relative;
}
.minion-1 .glasses .eye .ball {
  background: #8f5444;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #1f1a17;
  position: absolute;
  top: 40%;
  transition: all .15s linear;
}
.minion-1 .glasses .eye .ball strong {
  display: block;
  width: 20px;
  height: 20px;
  background: #1f1a17;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.minion-1 .mouth {
  width: 40%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 42%;
  left: 30%;
  z-index: 1;
  border-radius: 120px 120px 40px 40px;
  border: 2px solid #1f1a17;
  overflow: hidden;
  animation: up-down 0.5s infinite ease;
}
.minion-1 .mouth .tooths .tooth {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
}
.minion-1 .mouth .tooths .tooth1 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 25%;
}
.minion-1 .mouth .tooths .tooth2 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
}
.minion-1 .mouth .tooths .tooth3 {
  border-right: 2px solid #1f1a17;
  height: 100%;
  width: 0;
  position: absolute;
  left: 75%;
}
.minion-1 .mouth .tooths .line {
  width: 100%;
  top: 48%;
  border-top: 3px solid #1f1a17;
  position: absolute;
}
.minion-1 .arm {
  position: absolute;
  width: 50px;
  height: 400px;
  background: #fff500;
  border-radius: 50px;
  top: 190px;
  z-index: 0;
}
.minion-1 .arm.left-arm {
  left: -20px;
  transform: rotate(20deg);
}
.minion-1 .arm.right-arm {
  right: -20px;
  transform: rotate(-20deg);
}
.minion-1 .arm .hand {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #1f1a17;
  left: -5px;
}
.minion-1 .cloth {
  background: #667ab3;
  border-radius: 20px;
  bottom: 20px;
  width: 80%;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 10%;
}
.minion-1 .pocket {
  border: 2px solid #1f1a17;
  border-radius: 5px 5px 30px 30px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: 80px;
}
.minion-1 .pocket > div {
  background: #1f1a17;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 25px;
  position: absolute;
}
.minion-1 .pocket > div > div {
  width: 20px;
  height: 20px;
  border: 5px solid #667ab3;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 10px;
}
.minion-1 .trousers {
  background: #667ab3;
  border-radius: 10px 10px 130px 130px;
  bottom: 0;
  width: 100%;
  height: 160px;
  position: absolute;
  z-index: 1;
}
.minion-1 .straps {
  width: 40px;
  height: 150px;
  position: absolute;
  z-index: 1;
  background: #667ab3;
  bottom: 230px;
}
.minion-1 .straps.left-straps {
  left: 10px;
  transform: rotate(-40deg);
}
.minion-1 .straps.right-straps {
  right: 10px;
  transform: rotate(40deg);
}
.minion-1 .straps .fastener {
  background: #1f1a17;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 10px;
  position: absolute;
  left: 10px;
}
.minion-1 .leg {
  background: #667ab3;
  width: 70px;
  height: 120px;
  position: absolute;
  bottom: -80px;
}
.minion-1 .leg.left-leg {
  left: 20%;
}
.minion-1 .leg.left-leg .footer {
  right: -2px;
  border-radius: 100px 0 0 20px;
}
.minion-1 .leg.right-leg {
  right: 20%;
}
.minion-1 .leg.right-leg .footer {
  left: -2px;
  border-radius: 0 100px 20px 0;
}
.minion-1 .leg .footer {
  background: #1f1a17;
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 0;
}
